
html, body {
      height: 93%
}

header{
	background-color: white;
	
	
  	
  
}
section {
  padding-top: 50px;
  min-height: 100%;
  
}



footer{
	position: relative;
  
    
}

.menu{
  cursor: pointer;

}

.hide {
  display: none;
 
  width: 1200px;
  margin: 15px auto 0px auto;
}
.hide >li {
  display: inline;
  cursor: pointer;
  font-size: 19px;
  margin-right: 50px;


}


