
html, body {
      height: 93%
}

header{
	background-color: white;
	
	
  	
  
}
section {
  padding-top: 50px;
  min-height: 100%;
  
}
.selectColor{

  color: #38b9e0 !important;

}
.swal-modal{

  min-height: 200px;

}

#homeCate > li > a , #subMenu > li > a {
	
  font-weight: bold;
	color: black;
	text-decoration: none;
  	
  
}

footer{
	position: relative;
  
    
}

.menu{
  cursor: pointer;

}

.hide {
  display: none;
 
  width: 1200px;
  margin: 15px auto 0px auto;
}
.hide >li{
  display: inline;
  cursor: pointer;
  font-size: 17px;
  margin-right: 50px;
  font-weight: 600;
  
  color: #2f3438;
}


a{
  text-decoration: none !important;

}