.exhibition li {
    list-style: none;
    height: 40px;
}

.exhibition div {
    background-color: yellow;
    margin: 0 auto;
}

nav {
    margin: 0 auto;
}

.todayDeal {
    margin-top: 50px;
    margin-bottom: 20px;
}

.category {
    margin-top: 40px;
    margin-bottom: 14px;
}

.popularItemText {
    margin-top: 50px;
    margin-bottom: 14px;
}

.popularItem {
    margin-bottom: 20px;
}

.filter {
    margin-bottom: 15px;
}

.page {
    margin-bottom: 20px;
}