.todayDeal {
    margin-top: 50px;
    margin-bottom: 20px;
}

.category {
    margin-top: 40px;
    margin-bottom: 14px;
}

.popularItemText {
    margin-top: 50px;
    margin-bottom: 14px;
}

.popularItem {
    margin-bottom: 20px;
}

.filter {
    margin-bottom: 15px;
}

.page {
    margin-bottom: 20px;
}
/**설희*/

.menu {
    border: none;
}

.menu div {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 8px 15px;
    margin-bottom: 1em;
}

.menu_img {
    margin-top: 40px;
}
.menu_img div {
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    margin-left: 2em;
    margin-right: 2em;
    height: 60px;
    width: 60px;
}


/**a태그 css*/
.a_tag {
    text-decoration: none;
    font-weight: bold;
    color: rgb(231, 22, 22);
}
.a_tag:hover {
    color: rgba(80, 75, 75, 0.5);
}



.center_menu {
    border: solid 1px;
}

.center_menu>div {
    border: solid 1px;
    width: 25%;
    padding: 10px;
    height: 343px;
}

.center_menu_img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    height: 65%;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: aquamarine;
}

.menu_cate {
    border: none;
}

.menu_cate>div {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    width: 9%;
    margin: 10px 0px;
    height: 122px;
}

.menu_cate_bottom {
    height: 40px;
    margin-top: 20px;
}
.menu_cate_bottom>div{
    border: solid 1px;
    width: 9%;
    height: 40px;
}


.order {
    padding-top: 5px;
}
.select {
    border: none;
    color: gray;
    margin: 5px;
}



/**PageNation*/
.paging {
    height: 100px;
    margin-bottom: 2em;
}
.pagination {
    justify-content: center;
    padding-top: 2em;
}