<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가구&가전 빠른배송 ~89% 특별 기획전 | 예쁜 템들 모여사는 오늘의 직방 스토어</title>
    <link rel="stylesheet" href="/resources/css/fastDelivery.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <header class="header" style="background-color:antiquewhite; width: 100%; height: 80px; position: fixed; top: 0px;"></header>

    <section class="container mt-5 main">
        <div class="right_re mt-5">
            <div class="right_re1">
                <p>오늘 주문하면, 내일 도착!</p>
                <h5><b>가구&가전 빠른배송 ~89%</b></h5>
                <hr>
                <div class="d-flex justify-content-between c_btn"><button>📌7509</button><button>💡2634</button></div>
                <div class="d-grid gap-2 col-12 mx-auto mt-4">
                    <button class="btn btn-info" type="button" style="color: white;">판매상품 목록보기</button>
                </div>
            </div>
        </div>
        <div class="left_re mt-5" style="margin-left: 70px;">
            <div class="fastgif">
                <img src="/resources/images/fastMain.gif" alt="">
                <img src="/resources/images/newArrival.png" alt="">
                <img src="/resources/images/fastexp.png" alt="">

                <div class="oneThird d-flex justify-content-center">
                    <img src="/resources/images/fastSpaceFocus.png" alt="">
                    <img src="/resources/images/fastBrand.png" alt="">
                    <img src="/resources/images/fastSearch.png" alt="">
                </div>

                <img src="/resources/images/fastLivingroom.jpg" alt="">
                <div class="oneThird d-flex justify-content-center">
                    <img src="/resources/images/fastLiv1.png" alt="">
                    <img src="/resources/images/fastLiv2.png" alt="">
                    <img src="/resources/images/fastLiv3.png" alt="">
                </div>

                <img src="/resources/images/fastBed.jpg" alt="">
                <div class="oneHalf d-flex justify-content-center">
                    <img src="/resources/images/fastBed1.png" alt="">
                    <img src="/resources/images/fastBed2.png" alt="">
                </div>

                <img src="/resources/images/fastKitchen.jpg" alt="">
                <div class="oneThird d-flex justify-content-center">
                    <img src="/resources/images/fastKit1.png" alt="">
                    <img src="/resources/images/fastKit2.png" alt="">
                    <img src="/resources/images/fastKit3.png" alt="">
                </div>

                <img src="/resources/images/fastDress.jpg" alt="">
                <div class="oneHalf d-flex justify-content-center">
                    <img src="/resources/images/fastDress1.jpg" alt="">
                    <img src="/resources/images/fastDress2.png" alt="">
                </div>

                <div class="oneThird d-flex justify-content-center">
                    <img src="/resources/images/fastSpace.png" alt="">
                    <img src="/resources/images/fastBrandFocus.png" alt="">
                    <img src="/resources/images/fastSearch.png" alt="">
                </div>

                <img src="/resources/images/oatmealHouse.jpg" alt="">
                <img src="/resources/images/oatmealHouseMove.jpg" alt="">
                <div class="oneThird d-flex justify-content-center">
                    <img src="/resources/images/oatmeal1.png" alt="">
                    <img src="/resources/images/oatmeal2.png" alt="">
                    <img src="/resources/images/oatmeal3.png" alt="">
                </div>

                <img src="/resources/images/fastJustSleep.jpg" alt="">
                <img src="/resources/images/fastJustSleepMove.jpg" alt="">
                <div class="oneHalf d-flex justify-content-center">
                    <img src="/resources/images/fastJust1.png" alt="">
                    <img src="/resources/images/fastJust2.png" alt="">
                </div>
                
                <img src="/resources/images/fastAroundWhite.jpg" alt="">
                <img src="/resources/images/fastJustSleepMove.jpg" alt="">
                <div class="oneThird d-flex justify-content-center">
                    <img src="/resources/images/fastAr1.png" alt="">
                    <img src="/resources/images/fastAr2.png" alt="">
                    <img src="/resources/images/fastAr3.png" alt="">
                </div>

                <div class="oneThird d-flex justify-content-center">
                    <img src="/resources/images/fastSpace.png" alt="">
                    <img src="/resources/images/fastBrand.png" alt="">
                    <img src="/resources/images/fastSearchFocus.png" alt="">
                </div>
                <img src="/resources/images/fastDeliView.png" alt="">
            </div>
        </div>
    </section>

    <footer class="footer bg-black" style="width: 100%; height: 266px;"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>