<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>빠른 품절! 리퍼마켓 ~85% 특별 기획전 | 예쁜 템들 모여사는 오늘의 직방 스토어</title>
    <link rel="stylesheet" href="/resources/css/refurbishedProduct.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <header class="header" style="background-color:antiquewhite; width: 100%; height: 80px; position: fixed; top: 0px;"></header>

    <section class="container mt-5">

        <div class="right_re mt-5">
            <div class="right_re1">
                <p>전시,반품,스크래치 득템의 기회!</p>
                <h5><b>빠른품절! 리퍼마켓 ~85%</b></h5>
                <hr>
                <div class="d-flex justify-content-between c_btn"><button>📌118,325</button><button>💡52,246</button></div>
                <div class="d-grid gap-2 col-12 mx-auto mt-4">
                    <button class="btn btn-info" type="button" style="color: white;">판매상품 목록보기</button>
                </div>
            </div>
        </div>
        <div class="left_re mt-5">
          <div class="refurgif">
            <img src="/resources/images/refurMain.gif" alt="">
            <div class="row refurKind">
              <img src="/resources/images/refurTotal.jpg" alt="" style="width: 100%;">
            </div>
            <div class="bestRecom">
              <img src="/resources/images/bestRecom.jpg" alt="">
              <div class="d-flex justify-content-center center_menu" style="height: auto;">
                <div class="menu-div">
                    <div class="center_menu_img"><img src="/resources/images/test2.jpeg" alt=""></div>
                    <div>
                        <div class="brand">먼데이하우스</div>
                        <div class="product">오늘의 직방 최다리뷰! 인기 총합 가구 BIG SALE</div>
                        <div>
                            <div class="saleRate"><b>61%</b></div>
                            <div class="price"><b>10300 외</b></div>
                        </div>
                    </div>
                </div>
                <div class="menu-div">
                    <div class="center_menu_img"><img src="/resources/images/testProductImage.jpg" alt=""></div>
                    <div>
                        <div class="brand"></div>
                        <div class="product"></div>
                        <div class="saleRate"></div>
                        <div class="price"></div>
                        <div class="grade"></div>
                        <div class="reviewNum"></div>
                    </div>
                </div>
                <div class="menu-div">
                    <div class="center_menu_img"><img src="/resources/images/testProductImage.jpg" alt=""></div>
                    <div>
                        <div class="brand"></div>
                        <div class="product"></div>
                        <div class="saleRate"></div>
                        <div class="price"></div>
                        <div class="grade"></div>
                        <div class="reviewNum"></div>
                    </div>
                </div>
              </div>

              <img class="mt-5" src="/resources/images/moreItem.jpg" alt="">
            </div>

            <div class="brandRecom">
              <img src="/resources/images/brandRecom.jpg" alt="" style="z-index: 2;">

              <div class="brandRecom-brand d-flex justify-content-between" style="z-index: 6;">
                <img src="/resources/images/refurSamsung.jpg" alt="">
                <img src="/resources/images/refurLG.jpg" alt="">
              </div>
            </div>


          </div>
        </div>
        
        <!--PageNation-->
        <div class="paging">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link text-success" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                <li class="page-item"><a class="page-link text-success" href="#">2</a></li>
                <li class="page-item"><a class="page-link text-success" href="#">3</a></li>
                <li class="page-item"><a class="page-link text-success" href="#">4</a></li>
                <li class="page-item"><a class="page-link text-success" href="#">5</a></li>
                <li class="page-item">
                  <a class="page-link text-success" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>

    </section>

    <footer class="footer bg-black" style="width: 100%; height: 266px;"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>