<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쇼핑을 쉽게, 스타일링은 즐겁게! 오늘의직방 스토어</title>
    <link rel="stylesheet" href="/resources/css/storeHome.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <header class="header bg-black" style="width: 100%; height: 132px;"></header>

    <section class="container">
        <div class="exhibition">
            <img src="/resources/images/fabricSale.png" alt="" style="width: 100%; height: 380px;">
            <div>
                <ul class="mx-auto">
                    <li class="d-inline-flex justify-content-sm-between">패브릭 세일</li>
                    <li class="d-inline-flex justify-content-sm-between">인기가전 특가</li>
                    <li class="d-inline-flex justify-content-sm-between">1+1SHOP</li>
                    <li class="d-inline-flex justify-content-sm-between">리퍼마켓</li>
                    <li class="d-inline-flex justify-content-sm-between">프리미엄 핫딜</li>
                    <li class="d-inline-flex justify-content-sm-between">오!굿즈</li>
                    <li class="d-inline-flex justify-content-sm-between">빠른배송</li>
                    <li class="d-inline-flex justify-content-sm-between">신규 브랜드</li>
                    <li class="d-inline-flex justify-content-sm-between">삼성 가전</li>
                    <li class="d-inline-flex justify-content-sm-between"><</li>
                    <li class="d-inline-flex justify-content-sm-between">></li>
                </ul>
            </div>
        </div>

        <nav style="width: 100%; height: 139px;" class="border border-danger"></nav>
        <div style="height: 20px; width: 100%;" class="todayDeal">
            <h5 class="d-inline-flex float-start">오늘의 딜</h5>
            <a href="#" class="d-inline-flex float-end">더보기</a>
        </div>

        <div class="todayDealImg border border-danger" style="height: 343px;">

        </div>

        <div style="height: 20px; width: 100%;" class="category">
            <h5 class="d-inline-flex float-start">카테고리</h5>
        </div>
        
        <div style="height: 122px; border: solid 1px red;">

        </div>

        <div style="height: 20px; width: 100%;" class="popularItemText">
            <h5 class="d-inline-flex float-start">인기 상품</h5>
        </div>

        <div class="filter" style="height: 44px; border: solid 1px red;"></div>

        <div class="popularItem" style="height: 4100px; border: solid 1px red;"></div>

        <div class="page" style="width: 40%; height: 50px; border: solid 1px red;"></div>
    </section>

    <footer class="footer bg-black" style="width: 100%; height: 266px;"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>