<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<typeAliases>
		<typeAlias type="com.goodee.home.member.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.goodee.home.member.RoleDTO" alias="RoleDTO"/>
		<typeAlias type="com.goodee.home.member.DeliveryDTO" alias="DeliveryDTO"/>
		
		<typeAlias type="com.goodee.home.store.product.ProductDTO" alias="ProductDTO"/>
		<typeAlias type="com.goodee.home.store.product.ProductImageDTO" alias="ProductImageDTO"/>
		<typeAlias type="com.goodee.home.store.product.Option1DTO" alias="Option1DTO"/>
		<typeAlias type="com.goodee.home.store.product.Option2DTO" alias="Option2DTO"/>
		<typeAlias type="com.goodee.home.store.product.Option3DTO" alias="Option3DTO"/>
		<typeAlias type="com.goodee.home.store.product.CategoryDTO" alias="CategoryDTO"/>
		<typeAlias type="com.goodee.home.store.exhibition.ExhibitionDTO" alias="ExhibitionDTO"/>
		<typeAlias type="com.goodee.home.store.exhibition.Ex_ProductDTO" alias="Ex_ProductDTO"/>
	
		<typeAlias type="com.goodee.home.realEstate.RealEstateDTO" alias="RealEstateDTO"/>
		<typeAlias type="com.goodee.home.apt.AptDTO" alias="AptDTO"/>
		<typeAlias type="com.goodee.home.villa.VillaDTO" alias="VillaDTO"/>
		<typeAlias type="com.goodee.home.house.HouseDTO" alias="HouseDTO"/>
		<typeAlias type="com.goodee.home.officetel.OfficetelDTO" alias="OfficetelDTO"/>
		<typeAlias type="com.goodee.home.region.RegionDTO" alias="RegionDTO"/>
		
		<typeAlias type="java.lang.String" alias="String"/>
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="java.util.List" alias="List"/>
	</typeAliases>
</configuration>