.ban{

    text-decoration: line-through !important;

}
#operatorKind{
   

}

select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
select::-ms-expand { 
	display: none;
}

.hidden{
    display: none !important;

}