.ban{

    text-decoration: line-through !important;

}
#operatorKind{
   

}

select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
select::-ms-expand { 
	display: none;
}

.hidden{
    display: none !important;

}
.adminBox>a{

    color: black;

}
.adminBox{
    width: 30%;
    min-height: 60px;
    height: 100px;
    color: black;
    background-color: #bdbdbd;
    border: 1px solid;
    border-radius: 5px;


}
.adminDiv{
    min-height: 600px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}