input{
	
	height: 50px;
	border-radius: 3px;
	
}

#joinInput{
	
	margin-bottom: 10px;
}

#joinBtn{
	margin-top : 30px;
	background-color: rgb(56, 185, 224);
	border: rgb(56, 185, 224);
	height: 60px;
	margin-bottom: 13px;
	border-radius: 3px;
	
}
#joinPart{
	margin-left : 10px;
	width: 260px;
	
}
#joinPart>a{
	margin-left : 0 10px;
	text-decoration: none;
	color : rgb(90, 104, 119);
	
}
section{
	
	padding-top : 150px;
	background-color: rgb(250, 250, 250);
}

#joinForm{
	overflow : hidden;
	width: 300px;
	
}


label{
	
	margin-top : 30px;
	margin-bottom: 5px;
	
}
