#userId,#password{
	height: 50px;
	border-radius: 3px;
	
}

#loginInput{
	
	margin-bottom: 10px;
}

#loginBtn{
	
	background-color: rgb(56, 185, 224);
	border: rgb(56, 185, 224);
	height: 60px;
	margin-bottom: 13px;
	border-radius: 3px;
	
}
#joinPart{
	display: flex;
	justify-content: space-around;
	width: auto;
	
}
#joinPart>a{
	
	text-decoration: none;
	color : rgb(90, 104, 119);
	
}
section{
	
	padding-top : 230px;
	background-color: rgb(250, 250, 250);
}

#loginForm{
	
	width: 300px;
	
}