#myPage-1 > li ,#myPage-2>li{

    cursor: pointer;
    display: inline;
    margin: 15px;
    font-weight: bold;
}
#myPage-1{
    padding-top: 30px;
    width: 400px;
    font-size: 20px;
    
    margin: 0 auto;

}
#myPage-2{
    
    width: 700px;
    font-size: 20px;
    margin: 0 auto;

}

#profile {
    position: relative;
    min-height: 800px;
    

}
#profile > div{
    position: absolute;

  

}


#profile-id{

    background-color: #fafafa;
    border: 1px solid #dadce0;
    border-radius: 10px;
    width: 20%;
    height: 30%;
    min-height: 450px;
    margin: 15px;
    left: 10px;
    

}

#profile-section{
    background-color: #fafafa;
    border: 1px solid #dadce0;
    border-radius: 3px;
    width: 70%;
    min-height: 90%;
    margin: 15px;


    right: 50px;

}

#pf-img-box{

    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
    margin: 30px auto;

}

#pf-img{

    width: 100%;
    height: 100%;
    object-fit: cover;

}

#pf-userName ,#pf-userAct{
    width: 200px;
    margin: 0 auto;
    text-align: center;
    
}

#pf-userAct{
    padding-top: 15px;
    
}


.pf-section{
    width: 80%;
    margin: 15px auto;


}

/* profile */

#updateInput > input , #emailAt, #phoneFirst, #updateInput > div > input{
	
	height: 50px;
	border-radius: 3px;
	
}

#updateInput{
	
	margin-bottom: 10px;
}

#updateBtn,#nextBtn{
	margin-top : 30px;
	background-color: rgb(56, 185, 224);
	border: rgb(56, 185, 224);
	height: 60px;
	margin-bottom: 13px;
	border-radius: 3px;
	
}
#updatePart{
	margin-left : 10px;
	width: 260px;
	
}
#updatePart>a{
	margin-left : 0 10px;
	text-decoration: none;
	color : rgb(90, 104, 119);
	
}


#updateForm{
	overflow : hidden;
	width: 500px;
	
}


#updateInput > label{
	
	margin-top : 30px;
	margin-bottom: 5px;
	
}

#emailFirst,#emailAt{
	
	display: inline;
	width: 45%;
	
}

#phoneFirst,#phoneMiddle,#phoneLast{
	
	display: inline;
	width: 28%;
	
}

select {
  
  
  font-family: inherit;  /* 폰트 상속 */
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; /* 네이티브 화살표 대체 */  
  border: 1px solid #999; 
  border-radius: 0px; /* iOS 둥근모서리 제거 */
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

