#myPage-1 > li ,#myPage-2>li{

    cursor: pointer;
    display: inline;
    margin: 15px;
    font-weight: bold;
}
#myPage-1{
    padding-top: 30px;
    width: 400px;
    font-size: 20px;
    margin: 0 auto;

}
#myPage-2{
    
    width: 700px;
    font-size: 20px;
    margin: 0 auto;

}

#profileDiv {
    
    min-height: auto;
    display: inline-flex;
	justify-content: space-between;
}

#previewProfile{
    cursor: pointer;


}

#pf-previewBox{

    min-height: 300px;


}

#pf-previewTitle{
    width: 100%;
    display: inline-flex;
    position: relative;
    align-items: baseline;


}

.previewName{
    
    max-width: 80%;
    margin: 0px auto;

}


#profile-id{
	display: flex;
	flex-direction: column;
	box-shadow: rgb(63 71 77 / 6%) 0px 2px 4px 0px;
	
	
	
    background-color: #ffffff;
    border: 1px solid #dadce0;
    border-radius: 10px;


    width: 20%;
    min-width: 200px;
    max-width: 250px;

    height: 30%;
    min-height: 450px;
    
   
    
}

.pf-title{
	font-size: 30px;
	font-weight: bold;

}

#pf-betweenSpace{
	min-width: 20px;
	min-height: 90%;
	margin: 5px 5px;
	
}

#phone,#email{
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}
.de-section{
    background-color: #ffffff;
    border: 1px solid #dadce0;
    border-radius: 3px;
    width: 70%;
    min-width: 900px;
    height: auto;



}
.pf-section{
	
	
	
    background-color: #ffffff;
    border: 1px solid #dadce0;
    border-radius: 3px;
    width: 50%;
    min-width: 600px;
    height: auto;
}


.pf-body{

    display: flex;
	flex-direction: column;
    width: 70%;
    margin: 30px auto;

}

.display-none{
	display: none;

}

.pf-img-box{

    width: 150px;
    height: 150px; 
    border-radius: 70%;
    border : 1px solid #c8c9ca;
    overflow: hidden;
   margin: 30px auto;

}

.pf-rankImg{
    width: 150px;
    height: 150px; 

}
.pf-rankExplain{
    width: 60px;
   

}
.pf-img{

    min-width: 150px;
    min-height: 150px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin : auto;

}

#pf-userName ,#pf-userAct{
    width: 200px;
    margin: 0 auto;
    text-align: center;
    
}

#pf-userAct{
    padding-top: 15px;
    
}




/* profile */

 #emailAt, #phoneFirst,  input{
	
	height: 50px;
	border-radius: 3px;
	
}

#updateInput{
	width: 100%;
	margin-bottom: 10px;
}

button {
	margin-top : 30px;
	background-color: rgb(56, 185, 224) !important;
	border: rgb(56, 185, 224) !important;
	height: 60px;
	margin-bottom: 13px;
	border-radius: 3px !important;
	color: #fafafa !important;
}
#updatePart{
	margin-left : 10px;
	width: 260px;
	
}
#updatePart>a{
	margin-left : 0 10px;
	text-decoration: none;
	color : rgb(90, 104, 119);
	
}


#updateForm,#pwCheckForm {
	overflow : hidden;
}


 label:not(.nolabel){
	
	margin-top : 30px;
	margin-bottom: 5px;
	
}

#emailFirst,#emailAt{
	
	display: inline;
	width: 45%;
	
}

#phoneFirst,#phoneMiddle,#phoneLast{
	
	display: inline;
	width: 28%;
	
}

select {
  
  
  font-family: inherit;  /* 폰트 상속 */
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; /* 네이티브 화살표 대체 */  
  border: 1px solid #999; 
  border-radius: 0px; /* iOS 둥근모서리 제거 */
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

.pf-hidden{

    display: none;

}

th{
    min-width: 120px;
    width: 10%;
    padding-top: 30px;
}

#deliveryBody{
    background-color: #ffffff;
    border: 1px solid #dadce0;
    min-height: 400px;
}

.de-ListItem{
   
    cursor: pointer;
    
    margin: 12px;
    font-weight: bold;
	font-size: 18px;

}


tr,th{
	
	padding-top: 20px !important;
	margin : 20px 15px;
}

.btnDiv{
	width : 90%;
	display: inline-flex;
	justify-content: space-around;
	
	
}
.de-Btn{
	width: 40%;
	
}
.deSelect{

    background-color: #ffffff;
    border: 1px solid #dadce0;

}

.pf-pf-title{

    display: inline-flex;
    position: relative;

}


#dropId{
    cursor: pointer;
    color: #999;
   
    position: absolute;
    margin-top: 5px;
    right: -20px;

}

#deleteBtn{
    cursor: pointer;
    color: #999;
    position: absolute;
    margin-top: 30px;
    right: 0px;
}


