<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
		<mapper namespace="com.goodee.home.admin.AdminDAO">
			
			<sql id="getFilter">
				<if test="memberFilter != null and memberFilter != ''">
					WHERE RL.ROLENUM IN
					<!-- memberFilter -->
					
					<foreach item="item" index="index" collection="memberFilter" open="(" close=")" separator=",">
						#{item}
					</foreach>
				</if>
				
			</sql>
			
			
			<select id="getMember" parameterType="Pager" resultMap="getMemberResult">
				SELECT * 
				FROM (SELECT ROWNUM R,N.*
				      FROM  (SELECT MB.USERID , MB.NICKNAME , MR.ROLENUM , RL.ROLENAME
				        FROM MEMBERS MB
				            INNER JOIN "MEMBER-ROLE" MR
				            ON MB.USERID = MR.USERID
				            INNER JOIN "ROLE" RL
				            ON MR.ROLENUM = RL.ROLENUM
				        <include refid="getFilter"></include>
				         )N)
				WHERE R BETWEEN #{startRow} AND #{lastRow}
					
					
					
			</select>
			
			<resultMap type="MemberDTO" id="getMemberResult">
				<id column="USERID" property="userId"/>
				<result column="NICKNAME" property="nickname"/>
				<collection property="roleDTOs" javaType="List" ofType="RoleDTO">
					<id column="ROLENUM" property="roleNum"/>
					<result column="ROLENAME" property="roleName"/>
				</collection>
				
			
			
			
			</resultMap>
			
			<select id="getMemberCount" resultType="Long">
			SELECT COUNT(*) FROM MEMBERS
			</select>
		
		
		</mapper>