<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
		<mapper namespace="com.goodee.home.member.MemberDAO">
			<select id="getLogin" parameterType="MemberDTO" resultType="MemberDTO">
				SELECT * FROM MEMBERS WHERE USERID = #{userId} AND PASSWORD = #{password}
			</select>
		
			<insert id="getJoin" parameterType="MemberDTO">
				INSERT INTO MEMBERS VALUES (#{userId},#{password},#{nickname},#{userName},#{phone},#{email})
			</insert>
		
			<select id="getJoinOverlab" parameterType="MemberDTO" resultType="MemberDTO">
			SELECT * FROM MEMBERS WHERE USERID = #{userId} OR NICKNAME = #{nickname} OR PHONE = #{phone} OR EMAIL = #{email}
			
			</select>
		
		
			<update id="setUpdate" parameterType="MemberDTO">
			UPDATE MEMBERS SET NICKNAME = #{nickname}, PHONE = #{phone} , EMAIL =#{email} ,USERNAME = #{userName} WHERE USERID = #{userId}
			</update>
		
		</mapper>