<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.goodee.home.store.review.ProductReviewDAO">
	<insert id="addReview" parameterType="ProductReviewDTO">
		INSERT INTO PRODUCTREVIEW VALUES (REV_SEQ.NEXTVAL, #{durStar}, #{designStar}, #{priceStar}, #{deliveryStar},
		SYSDATE, #{fileName}, #{contents}, #{productNum}, #{userId})
	</insert>
	
	<select id="getReview" parameterType="ProductReviewDTO" resultType="ProductReviewDTO">
		SELECT * FROM PRODUCTREVIEW WHERE PRODUCTNUM = #{productNum}
	</select>
	
	<select id="getGrade" resultType="Long" parameterType="ProductReviewDTO">
		SELECT ROUND((DURSTAR + DESIGNSTAR + PRICESTAR + DELIVERYSTAR)/4) as AVGSTAR FROM PRODUCTREVIEW
		WHERE PRODUCTNUM = #{productNum}
	</select>
	
	<select id="getHelp" parameterType="ReviewLikeDTO" resultType="ReviewLikeDTO">
		SELECT * FROM REVIEWLIKE WHERE USERID = #{userId} AND REVNUM = #{revNum}
	</select>
	
	<insert id="setHelp" parameterType="ReviewLikeDTO">
		INSERT INTO REVIEWLIKE VALUES (TODAY_SEQ.NEXTVAL, #{revNum}, #{userId})
	</insert>
	
	<delete id="deleteHelp" parameterType="ReviewLikeDTO">
		DELETE REVIEWLIKE WHERE USERID = #{userId} AND REVNUM = #{revNum}
	</delete>
	
	<select id="getHelpCount" parameterType="ReviewLikeDTO" resultType="Long">
		SELECT COUNT(REVNUM), REVNUM FROM REVIEWLIKE WHERE REVNUM=#{revNum} GROUP BY REVNUM
	</select>
	
	<select id="getReviewDetail" parameterType="ProductReviewDTO" resultType="ProductReviewDTO">
		SELECT * FROM PRODUCTREVIEW WHERE REVNUM = #{revNum}
	</select>
	
	<delete id="deleteReview" parameterType="ProductReviewDTO">
		DELETE PRODUCTREVIEW WHERE REVNUM = #{revNum}
	</delete>
</mapper>