<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.goodee.home.store.product.ProductDAO">
	<insert id="setProduct" parameterType="ProductDTO">
		INSERT INTO PRODUCT VALUES (#{productNum}, #{price}, #{stock}, #{saleRate}, #{brand}, SYSDATE,
		#{deliDate}, #{todayDeal}, #{deliFee}, #{productName})
	</insert>
	
	<insert id="setOption" parameterType="ProductOptionDTO">
		INSERT INTO PRODUCTOPTION VALUES (OPTION_SEQ.NEXTVAL, #{optionName}, #{optionPrice}, #{optionDiv}, #{productNum})
	</insert>
	
	<insert id="setProductImage" parameterType="ProductImageDTO">
		INSERT INTO PRODUCTIMAGE VALUES (FILE_SEQ.NEXTVAL, #{fileName}, #{oriName}, #{productNum}, #{detail})
	</insert>
	
	<select id="getExProductList" parameterType="ExhibitionDTO"
		resultMap="getExProductResult">
		SELECT P.*, I.FILENAME, I.FILENUM, I.ORINAME FROM "EX-PRODUCT" E
		JOIN PRODUCT P 
		ON P.PRODUCTNUM = E.PRODUCTNUM
		JOIN PRODUCTIMAGE I
		ON P.PRODUCTNUM = I.PRODUCTNUM
		WHERE E.EXHIBITIONCODE = #{exhibitionCode} AND I.ORINAME LIKE '01%'
	</select>
	
	<resultMap type="ProductDTO" id="getExProductResult">
		<id column="PRODUCTNUM" property="productNum"/>
		<result column="PRICE" property="price"/>
		<result column="STOCK" property="stock"/>
		<result column="SALERATE" property="saleRate"/>
		<result column="BRAND" property="brand"/>
		<result column="REGDATE" property="regDate"/>
		<result column="DELIDATE" property="deliDate"/>
		<result column="TODAYDEAL" property="todayDeal"/>
		<result column="PREMIUM" property="premium"/>
		<result column="DELIFEE" property="deliFee"/>
		<result column="PRODUCTNAME" property="productName"/>
		<association property="productImageDTO" javaType="ProductImageDTO">
			<id column="FILENUM" property="fileName"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</association>
	</resultMap>
	
	<select id="getProductDetail" parameterType="ProductDTO"
		resultMap="getProductDetailResult">
		SELECT P.*, C.CATEGORYNUM, I.FILENAME, I.FILENUM, I.ORINAME, I.DETAIL
        FROM "CATE-PRODUCT" C
		JOIN PRODUCT P 
		ON P.PRODUCTNUM = C.PRODUCTNUM
		JOIN PRODUCTIMAGE I
		ON P.PRODUCTNUM = I.PRODUCTNUM
		WHERE P.PRODUCTNUM = #{productNum}
		ORDER BY I.FILENUM ASC
	</select>
	
	<resultMap type="ProductDTO" id="getProductDetailResult">
		<id column="PRODUCTNUM" property="productNum"/>
		<result column="PRICE" property="price"/>
		<result column="STOCK" property="stock"/>
		<result column="SALERATE" property="saleRate"/>
		<result column="BRAND" property="brand"/>
		<result column="REGDATE" property="regDate"/>
		<result column="DELIDATE" property="deliDate"/>
		<result column="TODAYDEAL" property="todayDeal"/>
		<result column="PREMIUM" property="premium"/>
		<result column="DELIFEE" property="deliFee"/>
		<result column="PRODUCTNAME" property="productName"/>
		<association property="categoryDTO" javaType="CategoryDTO">
			<id column="CATEGORYNUM" property="categoryNum"/>
		</association>
		<collection property="productImageDTOs" javaType="List" ofType="ProductImageDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
			<result column="DETAIL" property="detail"/>
		</collection>
	</resultMap>
	
	<select id="getProductList" resultMap="getProductResult">
		SELECT P.*, I.FILENAME, I.FILENUM, I.ORINAME FROM PRODUCT P 
		JOIN PRODUCTIMAGE I
		ON P.PRODUCTNUM = I.PRODUCTNUM
		WHERE I.ORINAME LIKE '01%'
	</select>
	
	<resultMap type="ProductDTO" id="getProductResult">
		<id column="PRODUCTNUM" property="productNum"/>
		<result column="PRICE" property="price"/>
		<result column="STOCK" property="stock"/>
		<result column="SALERATE" property="saleRate"/>
		<result column="BRAND" property="brand"/>
		<result column="REGDATE" property="regDate"/>
		<result column="DELIDATE" property="deliDate"/>
		<result column="TODAYDEAL" property="todayDeal"/>
		<result column="PREMIUM" property="premium"/>
		<result column="DELIFEE" property="deliFee"/>
		<result column="PRODUCTNAME" property="productName"/>
		<association property="productImageDTO" javaType="ProductImageDTO">
			<id column="FILENUM" property="fileName"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</association>
	</resultMap>
	
	<select id="getOptionDetail" parameterType="ProductDTO" resultMap="getOptionDetailResult">
		SELECT P.* ,O.OPTIONNUM, O.OPTIONNAME, O.OPTIONPRICE, O.OPTIONDIV
        FROM PRODUCT P 
        LEFT JOIN PRODUCTOPTION O
        ON P.PRODUCTNUM = O.PRODUCTNUM
		WHERE P.PRODUCTNUM=#{productNum}
		ORDER BY O.OPTIONNUM ASC
	</select>
	
	<resultMap type="ProductDTO" id="getOptionDetailResult">
		<id column="PRODUCTNUM" property="productNum"/>
		<result column="PRICE" property="price"/>
		<result column="STOCK" property="stock"/>
		<result column="SALERATE" property="saleRate"/>
		<result column="BRAND" property="brand"/>
		<result column="REGDATE" property="regDate"/>
		<result column="DELIDATE" property="deliDate"/>
		<result column="TODAYDEAL" property="todayDeal"/>
		<result column="PREMIUM" property="premium"/>
		<result column="DELIFEE" property="deliFee"/>
		<result column="PRODUCTNAME" property="productName"/>
		<collection property="ProductOptionDTOs" javaType="List" ofType="ProductOptionDTO">
			<id column="OPTIONNUM" property="optionNum"/>
			<result column="OPTIONNAME" property="optionName"/>
			<result column="OPTIONPRICE" property="optionPrice"/>
			<result column="OPTIONDIV" property="optionDiv"/>
		</collection>
	</resultMap>
	
	<select id="getCateItem" parameterType="String" resultMap="getCateItem">
		SELECT P.*, I.FILENAME, I.FILENUM, I.ORINAME, C.CATEGORYNUM FROM PRODUCT P 
		JOIN PRODUCTIMAGE I
		ON P.PRODUCTNUM = I.PRODUCTNUM
        JOIN "CATE-PRODUCT" C
        ON P.PRODUCTNUM = C.PRODUCTNUM
		WHERE I.ORINAME LIKE '01%' AND C.CATEGORYNUM LIKE #{category}||'%'
	</select>
	
	<resultMap type="ProductDTO" id="getCateItem">
		<id column="PRODUCTNUM" property="productNum"/>
		<result column="PRICE" property="price"/>
		<result column="STOCK" property="stock"/>
		<result column="SALERATE" property="saleRate"/>
		<result column="BRAND" property="brand"/>
		<result column="REGDATE" property="regDate"/>
		<result column="DELIDATE" property="deliDate"/>
		<result column="TODAYDEAL" property="todayDeal"/>
		<result column="PREMIUM" property="premium"/>
		<result column="DELIFEE" property="deliFee"/>
		<result column="PRODUCTNAME" property="productName"/>
		<association property="productImageDTO" javaType="ProductImageDTO">
			<id column="FILENUM" property="fileName"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</association>
	</resultMap>
	
	<update id="setTodayDeal" parameterType="ProductDTO">
		UPDATE PRODUCT SET TODAYDEAL=7 WHERE PRODUCTNUM=#{productNum}
	</update>
	
	<select id="getTodayDealSub" resultType="ProductDTO">
		SELECT * FROM PRODUCT WHERE TODAYDEAL=0
	</select>
	
	<update id="minusTodayDeal">
		UPDATE PRODUCT SET TODAYDEAL=TODAYDEAL-1 WHERE TODAYDEAL > 0
	</update>
	
	<select id="getTodayDealList" resultMap="getTodayProductResult">
		SELECT P.*, I.FILENAME, I.FILENUM, I.ORINAME FROM PRODUCT P 
		JOIN PRODUCTIMAGE I
		ON P.PRODUCTNUM = I.PRODUCTNUM
		WHERE I.ORINAME LIKE '01%' AND TODAYDEAL > 0
	</select>
	
	<resultMap type="ProductDTO" id="getTodayProductResult">
		<id column="PRODUCTNUM" property="productNum"/>
		<result column="PRICE" property="price"/>
		<result column="STOCK" property="stock"/>
		<result column="SALERATE" property="saleRate"/>
		<result column="BRAND" property="brand"/>
		<result column="REGDATE" property="regDate"/>
		<result column="DELIDATE" property="deliDate"/>
		<result column="TODAYDEAL" property="todayDeal"/>
		<result column="PREMIUM" property="premium"/>
		<result column="DELIFEE" property="deliFee"/>
		<result column="PRODUCTNAME" property="productName"/>
		<association property="productImageDTO" javaType="ProductImageDTO">
			<id column="FILENUM" property="fileName"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</association>
	</resultMap>
	
	<select id="getOrderProduct" parameterType="ProductDTO" resultMap="getOrderProductResult">
		SELECT P.*, I.fileName, I.fileNum, I.oriName FROM PRODUCT P
		JOIN
		PRODUCTIMAGE I
		ON P.PRODUCTNUM = I.PRODUCTNUM
		WHERE I.ORINAME LIKE '01%' AND P.PRODUCTNUM=#{productNum}
	</select>
	
	<resultMap type="ProductDTO" id="getOrderProductResult">
		<id column="PRODUCTNUM" property="productNum"/>
		<result column="PRICE" property="price"/>
		<result column="STOCK" property="stock"/>
		<result column="SALERATE" property="saleRate"/>
		<result column="BRAND" property="brand"/>
		<result column="REGDATE" property="regDate"/>
		<result column="DELIDATE" property="deliDate"/>
		<result column="TODAYDEAL" property="todayDeal"/>
		<result column="PREMIUM" property="premium"/>
		<result column="DELIFEE" property="deliFee"/>
		<result column="PRODUCTNAME" property="productName"/>
		<association property="productImageDTO" javaType="ProductImageDTO">
			<id column="FILENUM" property="fileName"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</association>
	</resultMap>
	
	<select id="getOption" parameterType="ProductOptionDTO" resultType="ProductOptionDTO">
		SELECT * FROM PRODUCTOPTION WHERE OPTIONNUM=#{optionNum}
	</select>
</mapper>