<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.goodee.home.store.product.ProductDAO">
	<insert id="setProduct" parameterType="ProductDTO">
		INSERT INTO PRODUCT VALUES (#{productNum}, #{price}, #{stock}, #{saleRate}, #{brand}, SYSDATE,
		#{deliDate}, #{todayDeal}, #{premium}, #{deliFee}, #{productName})
	</insert>
	
	<select id="getCategory" resultType="CategoryDTO">
		SELECT * FROM CATEGORY
	</select>
	
	<insert id="setCategory" parameterType="Cate_ProductDTO">
		INSERT INTO "CATE-PRODUCT" VALUES (CATE_SEQ.NEXTVAL, #{categoryNum}, #{productNum})
	</insert>
	

	
	<insert id="setOption2" parameterType="OptionDTO">
		INSERT INTO OPTION2 VALUES (OPTION_SEQ.NEXTVAL, #{optionName}, #{optionPrice}, #{productNum})
	</insert>
	
	<insert id="setOption3" parameterType="OptionDTO">
		INSERT INTO OPTION3 VALUES (OPTION_SEQ.NEXTVAL, #{optionName}, #{optionPrice}, #{productNum})
	</insert>
	
	<insert id="setProductImage" parameterType="ProductImageDTO">
		INSERT INTO PRODUCTIMAGE VALUES (FILE_SEQ.NEXTVAL, #{fileName}, #{oriName}, #{productNum}, #{detail})
	</insert>
	
	<select id="getExProductList" parameterType="ExhibitionDTO"
		resultMap="getExProductResult">
		SELECT P.*, I.FILENAME, I.FILENUM, I.ORINAME FROM "EX-PRODUCT" E
		JOIN PRODUCT P 
		ON P.PRODUCTNUM = E.PRODUCTNUM
		JOIN PRODUCTIMAGE I
		ON P.PRODUCTNUM = I.PRODUCTNUM
		WHERE E.EXHIBITIONCODE = #{exhibitionCode} AND I.ORINAME LIKE '01%'
	</select>
	
	<resultMap type="ProductDTO" id="getExProductResult">
		<id column="PRODUCTNUM" property="productNum"/>
		<result column="PRICE" property="price"/>
		<result column="STOCK" property="stock"/>
		<result column="SALERATE" property="saleRate"/>
		<result column="BRAND" property="brand"/>
		<result column="REGDATE" property="regDate"/>
		<result column="DELIDATE" property="deliDate"/>
		<result column="TODAYDEAL" property="todayDeal"/>
		<result column="PREMIUM" property="premium"/>
		<result column="DELIFEE" property="deliFee"/>
		<result column="PRODUCTNAME" property="productName"/>
		<association property="productImageDTO" javaType="ProductImageDTO">
			<id column="FILENUM" property="fileName"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</association>
	</resultMap>
	
	<select id="getProductDetail" parameterType="ProductDTO"
		resultMap="getProductDetailResult">
		SELECT P.*, C.CATEGORYNUM, I.FILENAME, I.FILENUM, I.ORINAME, I.DETAIL,
        o2.NUM NUM2, o2.OPTIONNAME OPTIONNAME2, o2.OPTIONPRICE OPTIONPRICE2,o3.NUM NUM3, o3.OPTIONNAME OPTIONNAME3, o3.OPTIONPRICE OPTIONPRICE3
        FROM "CATE-PRODUCT" C
		JOIN PRODUCT P 
		ON P.PRODUCTNUM = C.PRODUCTNUM
		JOIN PRODUCTIMAGE I
		ON P.PRODUCTNUM = I.PRODUCTNUM
        
        LEFT JOIN OPTION2 o2
        ON P.PRODUCTNUM = o2.PRODUCTNUM
        LEFT JOIN OPTION3 o3
        ON P.PRODUCTNUM = o3.PRODUCTNUM
		WHERE P.PRODUCTNUM=#{productNum}
		ORDER BY I.FILENUM ASC, o1.NUM ASC, o2.NUM ASC, o3.NUM ASC
	</select>
	
	<resultMap type="ProductDTO" id="getProductDetailResult">
		<id column="PRODUCTNUM" property="productNum"/>
		<result column="PRICE" property="price"/>
		<result column="STOCK" property="stock"/>
		<result column="SALERATE" property="saleRate"/>
		<result column="BRAND" property="brand"/>
		<result column="REGDATE" property="regDate"/>
		<result column="DELIDATE" property="deliDate"/>
		<result column="TODAYDEAL" property="todayDeal"/>
		<result column="PREMIUM" property="premium"/>
		<result column="DELIFEE" property="deliFee"/>
		<result column="PRODUCTNAME" property="productName"/>
		<association property="categoryDTO" javaType="CategoryDTO">
			<id column="CATEGORYNUM" property="categoryNum"/>
		</association>
		
		<collection property="option2DTOs" javaType="List" ofType="Option2DTO">
			<id column="NUM2" property="num"/>
			<result column="OPTIONNAME2" property="optionName"/>
			<result column="OPTIONPRICE2" property="optionPrice"/>
		</collection>
		<collection property="option3DTOs" javaType="List" ofType="Option3DTO">
			<id column="NUM3" property="num"/>
			<result column="OPTIONNAME3" property="optionName"/>
			<result column="OPTIONPRICE3" property="optionPrice"/>
		</collection>
		<collection property="productImageDTOs" javaType="List" ofType="ProductImageDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
			<result column="DETAIL" property="detail"/>
		</collection>
	</resultMap>
</mapper>