<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
		<mapper namespace="com.goodee.home.service.ServiceDAO">
			
			<sql id="getBoard">
				<choose>
					<when test="board == 'NOTICE'">NOTICE</when>
					<when test="board == 'QNA'">QNA</when>
					<otherwise>QNAANSWER</otherwise>
				</choose>
			</sql>
			<sql id="getBoardSeq">
				<choose>
					<when test="board == 'NOTICE'">NOTICE_SEQ</when>
					<otherwise>QNA_SEQ</otherwise>
				</choose>
			</sql>
		
			<!-- <select id="getList" parameterType="String" resultType="BoardDTO">
				SELECT * FROM <include refid="getBoard"></include>
					
			</select> -->
			<select id="getDetail" parameterType="BoardDTO" resultType="BoardDTO">
				SELECT * FROM <include refid="getBoard"></include> WHERE BOARDNUM = #{boardNum}
			</select>
		
			<select id="getCount" parameterType="Pager"  resultType="Long">
				SELECT COUNT(*) FROM <include refid="getBoard"></include>
			</select>
		
		    
	    	<select id="getList" parameterType="Pager" resultType="BoardDTO" >
		    	SELECT * FROM
				( SELECT ROWNUM R,N.*
				 FROM (SELECT * FROM <include refid="getBoard"></include> 
				 ORDER BY BOARDNUM DESC) N)
				 WHERE R BETWEEN #{startRow} AND #{lastRow}
	    	</select>
	    	
	    	<insert id="addBoard" parameterType="BoardDTO">
	    	
	    		INSERT INTO <include refid="getBoard"></include>  VALUES (<include refid="getBoardSeq"></include>.NEXTVAL,#{title},#{contents},SYSDATE,'0',#{userId})
	    	
	    	</insert>
	    	
	    	
	    	<delete id="deleteBoard" parameterType="BoardDTO">
	    		DELETE FROM <include refid="getBoard"></include> WHERE BOARDNUM = #{boardNum}
	    	</delete>
	    	
			
			<insert id="addQnaAnswer" parameterType="BoardDTO">
				INSERT INTO QNAANSWER VALUES (#{boardNum}, #{title},#{contents},SYSDATE,#{userId})
			</insert>
			
			
			<update id="updateBoard" parameterType="BoardDTO">
				UPDATE <include refid="getBoard"></include> SET TITLE = #{title} , CONTENTS = #{contents} WHERE BOARDNUM = #{boardNum}
			
			</update>
			
			
		</mapper>