<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
		<mapper namespace="com.goodee.home.service.ServiceDAO">
			
			<sql id="getBoard">
				<choose>
					<when test="board == 'NOTICE'">NOTICE</when>
					<otherwise>QNA</otherwise>
				</choose>
			</sql>
		
		
			<!-- <select id="getList" parameterType="String" resultType="BoardDTO">
				SELECT * FROM <include refid="getBoard"></include>
					
			</select> -->
			<select id="getDetail" parameterType="BoardDTO" resultType="BoardDTO">
				SELECT * FROM <include refid="getBoard"></include> WHERE BOARDNUM = #{boardNum}
			</select>
		
			<select id="getCount" parameterType="Pager"  resultType="Long">
				SELECT COUNT(*) FROM <include refid="getBoard"></include>
			</select>
		
		    
	    	<select id="getList" parameterType="Pager" resultType="BoardDTO" >
		    	SELECT * FROM
				( SELECT ROWNUM R,N.*
				 FROM (SELECT * FROM <include refid="getBoard"></include> 
				 ORDER BY BOARDNUM DESC) N)
				 WHERE R BETWEEN #{startRow} AND #{lastRow}
	    	</select>
	    	
	    	<insert id="addBoard" parameterType="BoardDTO">
	    		INSERT INTO NOTICE VALUES (notice_seq.nextval,#{title},#{contents},SYSDATE,'0',#{userId})
	    	
	    	</insert>
	    	
		
		</mapper>